@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('/unsplash-new-zealand.jpg') no-repeat center center fixed;
  min-height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
